#StudentNameDropDown {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-right-width: thick !important;
  border-radius: 0px;
  border-color: #cccccc !important;
}
#StudentNameDropDown:hover {
  background-color: #eeeeee;
}
#StudentNameDropDownMenu {
  border-radius: 25px !important;
  border-top-left-radius: 0px !important;
  border-width: medium;
  border-color: #cccccc;
}
.dropdown-menu.SubTab.forceRight.show {
  border-radius: 25px !important;
  border-width: medium !important;
  border-style: solid !important;
  border-color: #cccccc !important;
}
.dropdown-menu.SubTab.forceRight.show {
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: center;
}
.zebra:hover,
.zebra > *,
.zebra > *:hover {
  background-color: rgb(224, 244, 255) !important;
}
.dropdown-submenu.nav-buttons ul li.zebra a {
  background-color: transparent !important;
}
.dropdown-submenu.nav-buttons ul li.zebra {
  cursor: pointer;
}
.ContextMenuItem:hover {
  background-color: transparent !important;
}
.SubTab a:hover,
a.topdynamicmenuTablet:hover,
a.topdynamicmenu:hover,
a.visitedtopmenu,
a.subdynamicmenu:hover,
a.visitedsubmenu {
  background-color: transparent !important;
  background: transparent !important;
  color: #202020 !important;
  text-decoration: none !important;
}
#nav-account-dropdown {
  padding: 0px !important;
}
#nav-settings {
  border-left-style: solid;
  border-radius: 25px;
  border-width: thick;
  border-color: #cccccc;
}
/*Top Menu Bar and dropdown changes*/
#AeriesFullPageSearchInput,
#SearchResults {
  border-radius: 25px !important;
  padding-left: 15px !important;
  border-width: medium !important;
  border-style: solid !important;
  border-color: #cccccc !important;
}
#AeriesFullPageSearchInput:hover,
#AeriesFullPageSearchInput:active {
  background-color: #aaaaaa !important;
}
.result {
  border-style: solid;
  margin: 0;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-width: medium;
  border-top-width: 0px;
}
.results > .result:last-child,
.results > .result:first-child {
  border-radius: 25px;
}
.results > .result:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 15px !important;
}
.results > .result:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-width: medium;
}
#AeriesFullPageTopBar {
  display: none !important;
}

#AeriesFullPageContent
  > div.Max1600.FullWidthAutoHeight
  > div:nth-child(1)
  > div {
  padding-top: 30px;
}

/*changes to the bell icon dropdown*/
#AeriesAlertDetails {
  border-radius: 25px !important;
  border-style: solid;
  border-color: #cccccc;
  margin-top: 20px;
}
.al.rolledup {
  display: none;
}
div#simplifyMenu > div {
  position: fixed;
  min-width: 400px;
  min-height: 300px;
  width: 30%;
  background: rgb(236, 238, 242);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 125px;
  z-index: 999999999 !important;
  border-radius: 25px;
  border: #41526e solid medium;
  height: fit-content;
}
div#simplifyMenu {
  z-index: 99999998 !important;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(128, 128, 128, 0.5);
}
.simplify-title {
  font-size: 20px;
  text-align: left;
  background: #ffffff !important;
  border-radius: 25px;
  height: 45px;
  line-height: 45px;
  font-family: "aeries_sanssemibold";
  color: #41526e;
  padding: 0px 20px;
}
.simplify-title:hover {
  box-shadow: 0px 3px 3px rgb(0 0 0 / 10%) !important;
}
#simplify-body {
  transition: height 0.25s ease-in-out, min-height 0.25s ease-in-out;
}
#simplify-body.collapsed {
  min-height: 0px !important;
  height: min-content !important;
}
#simplify-body.collapsed #simplify-parent {
  display: none;
}
.section,
.section-lower {
  margin: 0px 20px;
}

#simplify-body .section {
  border-bottom: solid thin grey;
  text-transform: uppercase;
  /*font-style: italic;*/
  margin: 0px 20x;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: unset !important;
  min-height: unset !important;
  font-size: 12pt;
  line-height: 12pt;
  margin-top: 25px;
  padding-bottom: 5px;
  color: #444;
}
#simplify-body .section:first-of-type {
  margin-top: 0px !important;
}
.section-lower {
  padding: 20px;
  background: white;
  border-radius: 0px 0px 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
}

#simplify-parent {
  padding: 20px 0px;
}
.lower-part {
  padding: 10px;
  margin: 10px;
  background-origin: solid grey;
}
