#StudentNameDropDown {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-right-width: thick !important;
  border-radius: 0px;
  border-color: #cccccc !important;
}
#StudentNameDropDown:hover {
  background-color: #eeeeee;
}
#StudentNameDropDownMenu {
  border-radius: 25px !important;
  border-top-left-radius: 0px !important;
  border-width: medium;
  border-color: #cccccc;
}
.dropdown-menu.SubTab.forceRight.show {
  border-radius: 25px !important;
  border-width: medium !important;
  border-style: solid !important;
  border-color: #cccccc !important;
}
.dropdown-menu.SubTab.forceRight.show {
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: center;
}
.zebra:hover,
.zebra > *,
.zebra > *:hover {
  background-color: rgb(224, 244, 255) !important;
}
.dropdown-submenu.nav-buttons ul li.zebra a {
  background-color: transparent !important;
}
.dropdown-submenu.nav-buttons ul li.zebra {
  cursor: pointer;
}
.ContextMenuItem:hover {
  background-color: transparent !important;
}
.SubTab a:hover,
a.topdynamicmenuTablet:hover,
a.topdynamicmenu:hover,
a.visitedtopmenu,
a.subdynamicmenu:hover,
a.visitedsubmenu {
  background-color: transparent !important;
  background: transparent !important;
  color: #202020 !important;
  text-decoration: none !important;
}
#nav-account-dropdown {
  padding: 0px !important;
}
#nav-settings {
  border-left-style: solid;
  border-radius: 25px;
  border-width: thick;
  border-color: #cccccc;
}
/*Top Menu Bar and dropdown changes*/
#AeriesFullPageSearchInput,
#SearchResults {
  border-radius: 25px !important;
  padding-left: 15px !important;
  border-width: medium !important;
  border-style: solid !important;
  border-color: #cccccc !important;
}
#AeriesFullPageSearchInput:hover,
#AeriesFullPageSearchInput:active {
  background-color: #aaaaaa !important;
}
.result {
  border-style: solid;
  margin: 0;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-width: medium;
  border-top-width: 0px;
}
.results > .result:last-child,
.results > .result:first-child {
  border-radius: 25px;
}
.results > .result:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 15px !important;
}
.results > .result:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-width: medium;
}
#AeriesFullPageTopBar {
  display: none !important;
}

#AeriesFullPageContent
  > div.Max1600.FullWidthAutoHeight
  > div:nth-child(1)
  > div {
  padding-top: 30px;
}

/*changes to the bell icon dropdown*/
#AeriesAlertDetails {
  border-radius: 25px !important;
  border-style: solid;
  border-color: #cccccc;
  margin-top: 20px;
}
.al.rolledup {
  display: none;
}
div#simplifyMenu > div {
  position: fixed;
  min-width: 400px;
  min-height: 300px;
  width: 30%;
  background: rgb(236, 238, 242);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 125px;
  z-index: 999999999 !important;
  border-radius: 25px;
  border: #41526e solid medium;
  height: fit-content;
}
div#simplifyMenu {
  z-index: 99999998 !important;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  /*background: rgba(128, 128, 128, 0.5);*/
  visibility: visible !important;
}
.simplify-title {
  font-size: 20px;
  text-align: left;
  background: #ffffff !important;
  border-radius: 25px;
  height: 45px;
  line-height: 45px;
  font-family: "aeries_sanssemibold";
  color: #41526e;
  padding: 0px 20px;
}
.simplify-title:hover {
  box-shadow: 0px 3px 3px rgb(0 0 0 / 10%) !important;
}
#simplify-body {
  transition: height 0.25s ease-in-out, min-height 0.25s ease-in-out;
}
#simplify-body.collapsed {
  min-height: 0px !important;
  height: min-content !important;
}
#simplify-body.collapsed #simplify-parent {
  display: none;
}
.section,
.section-lower {
  margin: 0px 20px;
}

#simplify-body .section {
  border-bottom: solid thin grey;
  text-transform: uppercase;
  /*font-style: italic;*/
  margin: 0px 20x;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: unset !important;
  min-height: unset !important;
  font-size: 12pt;
  line-height: 12pt;
  margin-top: 25px;
  padding-bottom: 5px;
  color: #444;
}
#simplify-body .section:first-of-type,
.lower-part:first-of-type {
  margin-top: 0px !important;
}
.section-lower {
  padding: 10px;
  background: white;
  border-radius: 0px 0px 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
}

#simplify-parent {
  padding: 20px 0px;
}
.lower-part {
  padding: 0px;
  margin: 5px;
  border: solid lightgrey;
  border-radius: 5px;
  white-space: nowrap;
}
.lower-part .divider {
  border-right: solid lightgrey;
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.lower-part:last-of-type {
  margin-bottom: 0px !important;
}
.lower-part {
  margin-bottom: 10px !important;
}
.lower-part .divider:last-of-type {
  border-right: none;
}
/* one item */
.lower-part .divider:first-child:nth-last-child(1) {
  /* -or- li:only-child { */
  width: 100%;
}

/* two items */
.lower-part .divider:first-child:nth-last-child(2),
.lower-part .divider:first-child:nth-last-child(2) ~ .divider {
  width: 50%;
}

/* three items */
.lower-part .divider:first-child:nth-last-child(3),
.lower-part .divider:first-child:nth-last-child(3) ~ .divider {
  width: 33.3333%;
}

/* four items */
.lower-part .divider:first-child:nth-last-child(4),
.lower-part .divider:first-child:nth-last-child(4) ~ .divider {
  width: 25%;
}
.lower-part .divider.checkbox,
.lower-part .divider.checkbox input,
.lower-part .divider.color {
  border-radius: 0px 5px 5px 0px !important;
  background: #eee;
  line-height: 10px !important;
  padding: 10px !important;
  width: fit-content !important;
  height: fit-content !important;
}
.lower-part .divider.checkbox input {
  height: 10px !important;
  width: 10px !important;
  transform: scale(2);
  transform-origin: center center;
  cursor: pointer;
}
.lower-part .divider.checkbox ~ .divider,
.lower-part .divider.color ~ .divider {
  width: -webkit-fill-available !important;
  margin-right: 45px !important;
}
.lower-part {
  height: 40px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.lower-part.bg-image.box,
.lower-part.bg-image.image {
  margin-bottom: 0px !important;
}
#bg-section.bg-show .lower-part.bg-image.box {
  border-radius: 5px 5px 0px 0px !important;
}
#bg-section.bg-show .lower-part.bg-image.image {
  border-radius: 0px !important;
  margin-top: 0px !important;
  border-top: none !important;
  border-bottom: none !important;
  height: fit-content !important;
}
#bg-section .lower-part.bg-image img {
  width: 100%;
  max-height: 600px;
}
.bg-hide .bg-image.image,
.bg-hide .bg-image.url {
  display: none !important;
}
.bg-image.url {
  margin-top: 0px !important;
  border-radius: 0px 0px 5px 5px !important;
  text-align: left;
  width: 100%;
}

.bg-image.url input {
  border: none;
  width: fit-content;
  height: 100%;
  text-align: left;
  color: darkcyan;
  text-decoration: underline grey;
  background: transparent;
}
.bg-image.url input::placeholder {
  text-decoration: none !important;
}
.bg-image.url::before {
  content: "https://";
  color: grey;
  height: 100% !important;
  margin-left: 10px;
  padding-right: 10px;
  border-right: solid lightgrey;
}
.bg-image.url {
  background: #fdd;
}
.bg-image.url.good-url {
  background: #dfd !important;
}
#bg-url {
  width: 247px !important;
}
.lower-part .divider .color,
#login-color,
#dash-color {
  color: transparent;
  height: 34px !important;
  width: 37px !important;
  user-select: none;
}
.lower-part .divider.checkbox {
  width: 37px !important;
  height: 35px !important;
  margin: 0px !important;
}
/*fix for login screen */
#TheBody .divider.checkbox input {
  margin: 0px !important;
  width: 10px !important;
  height: 10px !important;
  text-align: center !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) scale(2) !important;
}
#TheBody div#simplifyMenu > div {
  margin-left: 0px !important;
}
#simplify-parent {
  height: 50%;
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#simplify-parent::-webkit-scrollbar-track {
  opacity: 0 !important;
  background: transparent;
  display: none !important;
}
#simplify-parent::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(127, 127, 127, 0.6);
}
#simplify-parent::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
#simplify-parent::-webkit-scrollbar-corner {
  opacity: 0;
  background: transparent;
}
div.divider {
  height: 100%;
}
.divider {
  overflow: hidden;
  margin-right: 0px !important;
}
.sidebar-gradient {
  border-right: solid lightgrey !important;
  border-left: solid lightgrey !important;
  background: linear-gradient(90deg, #2e8eab, #113e75);
  flex-grow: 5;
  flex-basis: 33.33333%;
  font-size: 10pt !important;
}
.sidebar-1 {
  border-bottom-left-radius: 4px;
  border-radius: 3px 0px 0px 3px;
  border-right: none !important;
}
.sidebar-2 {
  border-bottom-right-radius: 4px;
  border-radius: 0px 3px 3px 0px;
}

.sidebar-gradient span {
  text-shadow: 0 0 4px black;
  color: white;
  height: 100%;
  line-height: 25px;
}
.sidebar-color input {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  border: none !important;
}
.sidebar-color {
  padding: 0px !important;
  /*max-width: 100px !important;*/
  flex-basis: 37px !important;
  flex-grow: 1;
}
.sidebar-color input {
  transform: scale(2);
}
.sidebar-colors {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.sidebar-colors * {
  display: inline-flex;
  flex-flow: row;
}
.lower-part .divider.color {
  border-radius: 3px 5px 5px 3px !important;
}
.divider.color input[type="color"] {
  width: 500%;
  height: 500%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
.bg-show .dash-bg {
  display: none !important;
}
.lower-part#url-parent {
  margin-bottom: 0px !important;
}
.icon-close:before {
  content: "✖";
}
.icon-close:hover {
  text-shadow: 0 4px 3px rgb(0 0 0 / 20%);
  font-weight: bold;
  opacity: 1 !important;
}
input[type="color"] {
  cursor: pointer;
}
#simplifyMenu {
  background: transparent;
  transition: backdrop-filter 1s !important;
  backdrop-filter: blur(5px) opacity(0);
}
#simplifyMenu.blurred {
  backdrop-filter: blur(5px) opacity(1);
}
#simplifyMenu * {
  backdrop-filter: none !important;
}
#simplifyMenu.sidebar-edit {
  margin-left: 250px !important;
}
#simplifyMenu.sidebar-edit div#simplify-body {
  margin-left: -125px !important;
}
/*
#simplifyMenu.dash-edit {
}

#simplifyMenu.dash-edit div#simplify-body {
  margin-left: 125px !important;
}
*/
.lower-part.auto-login.login-check.enabled {
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0px !important;
}
.auto-login.login-email {
  display: none;
  margin-top: 0px !important;
  border-radius: 0px 0px 5px 5px;
  border-top: none !important;
  background: rgb(255, 221, 221);
}
.lower-part.auto-login.login-check.enabled ~ .auto-login.login-email {
  display: block;
}
.login-email input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none !important;
  background: transparent;
}
.login-email.good-email {
  background: rgb(221, 255, 221) !important;
}
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*can toggle this:*/
#simplify-parent {
  max-height: 500px;
  max-width: 400px !important;
  overflow-y: auto !important;
}
#simplify-body {
  overflow: hidden !important;
}
