

  #AeriesFullPageContent {
    position: relative !important;
    flex: 1 !important;
    padding: 0 30px 80px !important;
    margin: 0 !important;
    height: max-content !important;
    background-color: grey;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }

  /*WIDGITS*/

  .widget-wrapper:not(#sub-stu-top-all,#sub-livingtree-campaigns) .widget-body {
    background-color: transparent !important;
  }
  .grid .item {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0) !important;
    background: transparent !important;
  }

  .grid .item .widget-body {
    background-color: transparent !important;
  }

  .grid .item-content {
    border-width:3px !important;
    border-style:solid !important;
    margin-top:20px !important;
    font-size:15px !important;
    padding: 0px !important;
    border-radius:25px !important;
    background: #ECEEF2 !important;
  }

  .grid .item .widget-head {
    border-width:3px !important;
    border-style:hidden !important;
    border-radius: 25px 25px 0px 0px !important;
  }


  
/*Dashboard Tweaks*/
  #AeriesFullPageFooter, .footer {
    display: none !important;
  }  
  #ctl00_MainContent_ctl08_rptCalendarDay_ctl00_trFooterNoRecords {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-bottom-width: 0;
  }
  #iWelcomeAndTips {
    display: none !important;
  }
  .custom-text {
    display: none;
  }
  #iPortalResources {
    display: none !important;
  }
  #ctl00_AeriesFullPageParent > div.k-overlay {
    background-color: lightblue !important;
    opacity: 0.9 !important;
  }
  #AeriesFullPageBody,
  #ctl00_AeriesFullPageParent {
    height: 100% !important;
  }
  .k-webkit.k-webkit91,
  #AeriesFullPageContent {
    height: max-content !important;
    min-height: 100% !important;
  }

 .blur,
 .blur:before {
    background-color: lightblue !important;
    opacity: 0.6 !important;
  }
  #NoAlerts {
    text-align: center;
    font-size: medium;
    vertical-align: middle;
    line-height: 400%;
  }
  a.CurrentPage {
    background-color: transparent !important;
  }
  /*add bar at top to replace colored red white blue/for no bleed*/
#AeriesFullPageTop {
  border-color: lightblue;
  border-bottom-width: medium;
  border-bottom-style: solid;
}
